<ion-view view-title="{{ 'Add' | translate}}">
    <ion-content>
        <div class="list tap-btn">
            <button class="button button-assertive" ng-click="openPage('app.vsadd')">
                {{ 'AddViharStayMember' | translate}}
            </button>
            <button class="button button-energized" ng-click="openPage('app.active-samajseva')">
                {{ 'Active' | translate}} {{ 'Samaj' | translate}}
            </button>
            <button class="button button-outline button-stable" ng-click="openPage('app.add-temple')">
                {{ 'AddTemple' | translate}}
            </button>
             <button class="button" style="background-color:#fc7507; color:#fff" ng-click="openPage('app.add-security-number')">
              {{ 'AddSecurityAlert' | translate}} {{ 'Number' | translate}}
            </button>
            <button class="button button-outline button-stable" ng-click="openPage('app.add_events')">
              {{ 'Add' | translate}} {{ 'Events' | translate}}
            </button>
            <button class="button button-balanced" ng-click="openPage('app.packages')">
                {{ 'AddBusiness' | translate}}
            </button>
            <button class="button button-dark" ng-click="openPage('app.add-tap-listing')">
                {{ 'Addtapoftheday' | translate}}
            </button>
   
            
      </div>
         
      
            <div class="margin-top-gallery"></div>
</ion-content>
    </ion-view>