<ion-view>
     <ion-nav-title style="font-size:14px;font-weight:bold;">
        <span style="color:#0A2867"> {{ 'YellowPages' | translate}} </span> {{ 'Business' | translate}}
    </ion-nav-title>
  <ion-nav-bar class='bar-light'>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="bg-gray">
      
        <div class="search-wrapper">
            <div class="item item-input-inset auto-search-section-1" style='overflow: visible;z-index:4;'>
                <input id="pac-input-business-list-search" type="text" placeholder="{{ 'Search' | translate}} {{ 'Location' | translate}}" data-tap-disabled="true" ng-change="disableTap()" data-ng-model="data.search">
                <a ng-click="searchList(search,selected)" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
           
          <!--  <div class="filter">
                <p><a ng-click="openfilterPage()">Filter <i class="fa fa-filter" aria-hidden="true"></i></a></p>
            </div>-->

        </div>
        <div class="item item-input-inset" style='overflow: visible;z-index:4;'>

            <label class="item-input-wrapper inp-wrapper">

                <angucomplete-alt data-tap-disabled="true" id="ex2"
                                  placeholder="{{ 'Search' | translate}} {{ 'BusinessCategory' | translate}}"
                                  pause="100"
                                  selected-object="selected"
                                  local-data="businessCatList"
                                  search-fields="business_category"
                                  title-field="business_category"
                                  minlength="1"
                                  data-ng-model="business"
                                  focus-out="focusOut(selected)"
                                  input-class="form-control form-control-small" />

            </label>
            <a ng-click="searchList(search,selected,business)" class="search-icon sear1"><i class="fa fa-search" aria-hidden="true"></i></a>
           
        </div> 
        
       
        <div class="assertive1" ng-show="noerror">
            <p ng-show="errorTextVisible">{{errorMessage}}</p>
        </div>
       
        <div class="b-detail-wrap" ng-repeat="business in businessList" >
            <div class="b-detail-wrap1" ng-if="business.package_id == '1'">
            <a ng-click="openDetailPage(business)">
                <p class="user-section"> <img src="img/user-icon.png" /> {{business.business_owner_name}} <span class="gold-batch"> <img src="img/platinum.png" /> </span></p>
                <p class="location-section"> <img src="img/location-icon.png" />At Post.{{business.address}}</p>
                <p class="mobile-section"> <img src="img/mobile-icon.png" />{{business.contact_no}} </p>
                <p> <strong> Product : </strong>{{business.product1}},{{business.product2}},{{business.product3}},{{business.product4}}</p>
            </a>
                </div>
              <div class="b-detail-wrap2" ng-if="business.package_id == '2'">
            <a ng-click="openDetailPage(business)">
                <p class="user-section"> <img src="img/user-icon.png" /> {{business.business_owner_name}} <span class="gold-batch"> <img src="img/gold.png" /> </span></p>
                <p class="location-section"> <img src="img/location-icon.png" />At Post.{{business.address}}</p>
                <p class="mobile-section"> <img src="img/mobile-icon.png" />{{business.contact_no}} </p>
                <p> <strong> Product : </strong>{{business.product1}},{{business.product2}},{{business.product3}},{{business.product4}}</p>
            </a>
                </div>
             <div class="b-detail-wrap5" ng-if="business.package_id == '3'">
            <a ng-click="openDetailPage(business)">
                <p class="user-section"> <img src="img/user-icon.png" /> {{business.business_owner_name}} <span class="gold-batch"> <img src="img/silver.png" /> </span> </p>
                <p class="location-section"> <img src="img/location-icon.png" />At Post.{{business.address}}</p>
                <p class="mobile-section"> <img src="img/mobile-icon.png" />{{business.contact_no}} </p>
                <p> <strong> Product : </strong>{{business.product1}},{{business.product2}},{{business.product3}},{{business.product4}}</p>
            </a>
                </div>
            <div class="b-detail-wrap4" ng-if="business.package_id == '4'">
              <a ng-click="openDetailPage(business)">
                <p class="user-section"> <img src="img/user-icon.png" /> {{business.business_owner_name}} </p>
                <p class="location-section"> <img src="img/location-icon.png" />At Post.{{business.address}}</p>
                <p class="mobile-section"> <img src="img/mobile-icon.png" />{{business.contact_no}} </p>
                <p> <strong> Product : </strong>{{business.product1}},{{business.product2}},{{business.product3}},{{business.product4}}</p>
            </a>
                </div>
        </div>

      <div class="margin-top-gallery"></div>
    </ion-content>


</ion-view>

