<ion-view>
    <ion-nav-title>
        <span style="color:#0A2867; float:left"> {{ 'Contact' | translate}} </span>
    </ion-nav-title>
    <ion-content>

        <ng-form name="addBusinessForm" novalidate>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
                <div class="card kl-card kl-xl kl-shine kl-show mar-40">

                    <div class="card-block">

                        <div class="list donation-wrap">

                            <label class="item item-input item-stacked-label border-none form-group ">
                                <span class="input-label">{{ 'Name' | translate}}</span>
                                <input type="text" name="point" ng-model="user.member_name" placeholder="{{ 'Name' | translate}}" required>
                            </label>

                             <label class="item item-input item-stacked-label border-none form-group ">
                                <span class="input-label">{{ 'MobileNumber' | translate}}</span>
                                <input type="number" name="mobile" ng-model="user.mobile_no" placeholder="98********" ng-minlength="10" ng-maxlength="10" required>
                            </label>

                            <label class="item item-input item-stacked-label border-none form-group">
                                <span class="input-label">{{ 'Query' | translate}}</span>
                                <select class="state-section" name="religion" ng-model="user.subject">
                                    <option value="">{{ 'Select' | translate}}</option>
                                    <option value="Business"> {{ 'BusinessDet' | translate}}</option>
                                    <option value="Suggestions"> {{ ' Suggestions' | translate}}</option>
                                    <option value="Ads"> {{ ' Ads' | translate}}</option>
                                    <option value="Jain Guru Tracking"> {{ ' JainGuru' | translate}}{{ 'Tracking' | translate}}</option>
                                    <option value="Vihar Stay">{{ ' ViharStay' | translate}}</option>
                                    <option value="Temple & Stanak">{{ ' Temple' | translate}}{{ 'Sthanak' | translate}}</option>
                                    <option value="Tapsvi Sukh Sata">{{ ' tapasvi' | translate}}{{ 'Sata' | translate}}</option>
                                    <option value="Vrat Pachakan">{{ ' Vrath' | translate}}{{ 'Pachakan' | translate}}</option>
                                    <option value="Jain Mantra">{{ ' Jain' | translate}}{{ 'Mantras' | translate}}</option>
                                    <option value="Donation">{{ ' Donation' | translate}}</option>
                                    <option value="Jain Library">{{ ' Jain' | translate}}{{ ' Library' | translate}}</option>
                                    <option value="Event">{{ ' Events' | translate}}</option>
                                    <option value="Active for Samaj Seva">{{ ' Active' | translate}}{{ ' Samaj' | translate}}</option>
                                    <option value="Chaturmas">{{ ' Chaturmas' | translate}}</option>
                                 
                                </select>
                            </label>

                            <label class="item item-input item-stacked-label border-none form-group ">
                                <span class="input-label">{{'Message' | translate}}</span>
                                <input type="text" name="ifsc" ng-model="user.message" placeholder="{{'Message' | translate}}">
                            </label>

                            <div class="assertive" ng-show="noerror">
                                <p ng-show="addBusinessForm.point.$error.required && addBusinessForm.point.$dirty">* {{ 'Entername' | translate}}</p>
                                <p ng-show="addBusinessForm.mobile.$error.required && addBusinessForm.account.$dirty">* {{ 'Phoneisrequired' | translate}}</p>
                                <p ng-show="addBusinessForm.ifsc.$error.required && addBusinessForm.ifsc.$dirty">* {{ 'ifsccoderequired' | translate}}</p>
                                <p ng-show="addBusinessForm.bank.$error.required && addBusinessForm.bank.$dirty">* {{ 'banknameisrequired' | translate}}</p>
                                 <p ng-show="addBusinessForm.mobile.$error.maxlength">* Please Enter valid mobile number</p>
                                  <p ng-show="addBusinessForm.mobile.$error.minlength">* Please Enter valid mobile number</p>
                 
                                <p ng-show="errorTextVisible">{{errorMessage}}</p>

                            </div>

                            <div class="padding">
                                <a class="button button-block button-positive login-btn" ng-click="saveDetailsOnServer()">Send</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </ng-form>
        <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>

