<ion-view view-title="{{ 'Donation'| translate}}">
    <ion-content>
        <!-- <div class="donation-section-wrap">
            <div class="col-48 donation1">
                <label>
                    <input type="radio" name="fb" value="small" />
                    <img src="img/event1.png">
                    <p> {{ 'AbhauDan' | translate}} </p>
                </label>
            </div>
            <div class="col-48 donation1">
                <label>
                    <input type="radio" name="fb" value="big" />
                    <img src="img/event2.png">
                    <p> {{ 'GyanKhata' | translate}} </p>
                </label>
            </div>
            <div class="col-48 donation1">
                <label>
                    <input id="fb3" type="radio" name="fb" value="med" />
                    <img src="img/event3.png">
                    <p> {{ 'AnnajBhandar' | translate}} </p>
                </label>
            </div>
            <div class="col-48 donation1">
                <label>
                    <input id="fb4" type="radio" name="fb" value="long" />
                    <img src="img/event4.png">
                    <p> {{ 'JeevDaya' | translate}} </p>
                </label>
            </div>
        </div>

         <div class="list donation-wrap">
             <label class="item item-input item-stacked-label border-none form-group">
                 <span class="input-label">{{ 'Amount' | translate}}</span>
                 <input type="text" placeholder="{{ 'EnterAmount' | translate}}">
             </label>

             <div class="padding">
                 <button ng-click="openExternalUrl('https://paytm.com/')" class="button button-block button-positive login-btn"> {{ 'DonateNow' | translate}} ! </button>
             </div>

         </div> -->
        <div class="coming-soon">
            <img src="img/donation_page.jpg" />
            <!--  <h1>{{ 'Coming_Shortly' | translate}}...!</h1> -->
        </div>

        <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>

