<ion-view view-title="{{ 'EditViharStay' | translate}}">
    <ion-nav-bar class='bar-light'>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
       
                <ng-form name="editViharForm" novalidate>
        <div class="list login-wrap">

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'MemberName' | translate}}</span>
                <input type="text" name="name" placeholder="{{ 'MemberName' | translate}}" ng-model="data.name" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'ContactNumber' | translate}}</span>
                <input type="text" name="contact" placeholder="+91 98xxxxxxxx" ng-model="data.contact"  ng-minlength="10" ng-maxlength="10" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'PlaceName' | translate}}</span>
                <input type="text" name="location" placeholder="{{ 'Location' | translate}}" ng-model="data.city" required>
            </label>
            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Address' | translate}}</span>
                <input type="text" name="address" placeholder="{{ 'PlaceName' | translate}}" ng-model="data.vihar_address" required>
            </label>
            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'JainFamilyAround' | translate}}</span>
                <input type="text" name="jainfamilycount" placeholder="{{ 'JainFamilyAround' | translate}}" ng-model="data.jain_family_around" required>
            </label>

           <!-- <ion-list>join_family_around = "10"
               <ion-item class="border-none pad-more">
                    <h3>Placed Added</h3>
                    <div class="stanak-wrap ad-location">
                        <ion-label><img src="img/namskar-icon.png" /> <span>Nashik Nayantra estate</span> </ion-label>
                        <ion-toggle></ion-toggle>
                    </div>

                    <div class="stanak-wrap ad-location">
                        <ion-label><img src="img/namskar-icon.png" /> <span>Nashik Nayantra estate</span> </ion-label>
                        <ion-toggle></ion-toggle>
                    </div>
                </ion-item>
            </ion-list>-->

             <div class="assertive" >
                  <!--<p ng-show="addViharForm.name.$error.required && addViharForm.name.$dirty">*{{ 'Namerequired' | translate}}</p>
                   <p ng-show="addViharForm.location.$error.required && addViharForm.location.$dirty">*{{ 'Locationrequired' | translate}}</p>
                    <p ng-show="addViharForm.contact.$error.required && addViharForm.contact.$dirty">* {{ 'Contactrequired' | translate}}</p>
                   <p ng-show="addViharForm.contact.$error.maxlength">*{{ 'Pleasemobilenumber' | translate}}</p>
                    <p ng-show="addViharForm.contact.$error.minlength">*{{ 'Pleasemobilenumber' | translate}}</p>-->
                  <p ng-show="isVisible">{{errorText}}</p>

                </div>

            <div class="padding">
                <a class="button button-block button-positive login-btn" ng-click="saveDetailsEditOnServer()">{{ 'UpdateViharStay' | translate}} </a>
            </div>

        </div>
             </ng-form>
        <div class="margin-top-gallery"></div>
    </ion-content>
    
  
</ion-view>
