<ion-view  title="Forgot Passord">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
       
    </ion-nav-bar>
      <ion-content>

         <form name="loginForm" novalidate>
        <div class="logo-section">
            <img src="img/nirjara-logo-forgot.png" />
        </div>

        <div class="forgot-section list login-wrap">
            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Username' | translate}}</span>
                <input type="text" name="username" ng-model="data.username" placeholder="Enter Username" required>
            </label>
            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'MobileNumber' | translate}}</span>
                <input type="number" name="contact" ng-model="data.contact" placeholder="Mobile number" ng-minlength="10" ng-maxlength="10" required>
            </label>
            <label ng-show="otpTextVisible" class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">Enter OTP</span>
                <input type="text" placeholder="Enter OTP Number" ng-model="data.otp" required>
            </label>
        </div>
         <div class="assertive" ng-show="noerror">
                  <p ng-show="loginForm.username.$error.required && loginForm.username.$dirty">* Please enter Username</p>
                  <p ng-show="loginForm.contact.$error.required && loginForm.contact.$dirty">* Mobile No. is required</p>
                  <p ng-show="loginForm.contact.$error.minlength && loginForm.contact.$error.maxlength">* Enter valid mobile no.</p>
                  <p ng-show="isInvalidUser">*{{errorMessage}}</p>
              </div>
        <div class="padding">
            <button class="button button-block button-positive login-btn" ng-click="submit()"> {{ 'RequestReset' | translate}} </button>
        </div>
             </form>

          <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>
