<ion-view view-title="{{ 'Ipad'| translate}}">
    <ion-content>

       <ng-form name="ipadForm" novalidate>
          <div class="list login-wrap">
          
            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'ModelName'| translate}}</span>

                <select class="state-section" name="modelType" ng-model="data.modelId" required>
                     <option value="" selected="selected">{{ 'SelectModel'| translate}}</option>
                     <option ng-repeat="model in iPadModelList" value="{{model.ipad_enquiry_id}}"> {{model.ipad_model}} </option>

                </select>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'City'| translate}}</span>
                <input type="text" name="city" placeholder="{{ 'City'| translate}}" ng-model="data.cityName" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'From'| translate}}</span>
                <input type="date" name="from" placeholder="12:30 AM/PM" ng-model="data.fromDate" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'To'| translate}}</span>
                <input type="date" name="to" placeholder="12:30 AM/PM" ng-model="data.toDate" required>
            </label>


            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Contact'| translate}}</span>
                <input type="number" name="contact" ng-model="data.mobileNo" placeholder="+91 98xxxxxxxx" ng-minlength="10" ng-maxlength="10" required>


            </label>

               <div class="assertive" ng-show="noerror">
                    <p ng-show="ipadForm.modelType.$error.required && ipadForm.modelType.$dirty">* {{ 'Modelisrequired'| translate}}</p>
                    <p ng-show="ipadForm.city.$error.required && ipadForm.city.$dirty">* {{ 'Cityisrequired'| translate}}</p>
                    <p ng-show="ipadForm.from.$error.required && ipadForm.from.$dirty">* {{ 'FromDateisrequired'| translate}}</p>
                    <p ng-show="ipadForm.to.$error.required && ipadForm.to.$dirty">* {{'ToDateisrequired'| translate}}</p>
                    <p ng-show="ipadForm.contact.$error.required && ipadForm.contact.$dirty">* {{'Contactrequired'| translate}}</p>
                   <p ng-show="ipadForm.contact.$error.maxlength">*{{'Pleasemobilenumber'| translate}}</p>
                    <p ng-show="ipadForm.contact.$error.minlength">* {{'Pleasemobilenumber'| translate}}</p>
                    <p ng-show="errorTextVisible">{{errorMessage
}}</p>

                </div>

            <div class="padding">
                <a class="button button-block button-positive login-btn" ng-click="saveDetailsOnServer()"> {{'SendEnquiry'| translate}} </a>
            </div>

        </div>

           </ng-form>
        <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>
