<ion-view view-title="Tap Record"  style="font-size:14px;font-weight:bold;font-family: 'ARESSENCE'!important">
    <ion-nav-bar class='bar-light'>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list add-tap-padd">

            <div class="item item-divider" ng-repeat="upvas in upvasList">
               <div class="sec1">
                   <p>{{upvas.tapassya_name | capitalize:'all'}}</p>
               </div>
               
                <div class="sec3">
                    <a> ({{upvas.tapassya_count}}) </a>
                </div>
               
            </div>
           
        </div>

        <div class="margin-top-gallery"></div>
    
    </ion-content>
</ion-view>