<ion-view view-title="Add Tap">
    <ion-nav-bar class='bar-light'>
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list add-tap-padd">

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec2">
                    <a href="#"> Add </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec3">
                    <a href="#"> <i class="fa fa-check" aria-hidden="true"></i> Added </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec2">
                    <a href="#"> Add </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec3">
                    <a href="#"> <i class="fa fa-check" aria-hidden="true"></i> Added </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec2">
                    <a href="#"> Add </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec3">
                    <a href="#"> <i class="fa fa-check" aria-hidden="true"></i> Added </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec2">
                    <a href="#"> Add </a>
                </div>
            </div>

            <div class="item item-divider">
                <div class="sec1">
                    <p>Ekasnu</p>
                </div>
                <div class="sec3">
                    <a href="#"> <i class="fa fa-check" aria-hidden="true"></i> Added </a>
                </div>
            </div>

        </div>

        <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>