<ion-view view-title="{{ 'WeddingEvent'| translate}}">
    <ion-content>

        <ng-form name="weddingEventForm" novalidate>
        <div class="list login-wrap">
            <label class="item item-input item-stacked-label border-none form-group" required>
                <span class="input-label">{{ 'Services'| translate}}</span>
                
                <ion-checkbox readonly="readonly" ng-repeat="name in serviceList"   name="service"
                      ng-model="name.isChecked" ng-class="checkbox-balanced" required>{{name.service}}</ion-checkbox>

                               
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Date'| translate}}</span>
                <input type="date" name="from" placeholder="{{ 'Date'| translate}}" ng-model="data.fromDate" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Venue'| translate}}</span>
                <input type="text" name="city" placeholder="{{ 'EnterPlace'| translate}}" ng-model="data.cityName" required>
            </label>

            <label class="item item-input item-stacked-label border-none form-group">
                <span class="input-label">{{ 'Budget'| translate}}</span>
                <input type="number" name="budget" placeholder="$123466" ng-model="data.budget" required>
            </label>

            <div class="assertive" ng-show="noerror">
                    <p ng-show="weddingEventForm.service.$error.required && weddingEventForm.service.$dirty">* {{ 'ServiceTypeisrequired'| translate}}</p>
                    <p ng-show="weddingEventForm.budget.$error.required && weddingEventForm.budget.$dirty">* {{ 'Budgetisrequired'| translate}}</p>
                    <p ng-show="weddingEventForm.city.$error.required && weddingEventForm.city.$dirty">*{{'Venueisrequired'| translate}}</p>
                    <p ng-show="weddingEventForm.from.$error.required && weddingEventForm.from.$dirty">*{{'Dateisrequired'| translate}}</p>
                 
                    <p ng-show="errorTextVisible">{{errorMessage}}</p>

                </div>
           
            <div class="padding">
                <a class="button button-block button-positive login-btn" ng-click="saveDetailsOnServer()">{{ 'SendEnquiry'| translate}} </a>
            </div>

        </div>

            </ng-form>
        <div class="margin-top-gallery"></div>
    </ion-content>
</ion-view>
