<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>861259281307-0j2v5t596upakvjs8v0f1r6c8t7akqb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861259281307-0j2v5t596upakvjs8v0f1r6c8t7akqb5</string>
	<key>API_KEY</key>
	<string>AIzaSyDhtr6DZ23MLV3lmC-HdKpRDpxQRgHVHS4</string>
	<key>GCM_SENDER_ID</key>
	<string>861259281307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cordova.myapp01e9b4</string>
	<key>PROJECT_ID</key>
	<string>my-projects-43a38</string>
	<key>STORAGE_BUCKET</key>
	<string>my-projects-43a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861259281307:ios:3ea2d94c08c4b16f</string>
	<key>DATABASE_URL</key>
	<string>https://my-projects-43a38.firebaseio.com</string>
</dict>
</plist>